* {
    /* Свойства для сброса начальных стилей элементов */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    color: #303030;
}

header {
    /* Стили для хедера */
    background-color: #2965f1;
    padding: 23px 0;
}

header span {
    /* Стили для текста в хедере IT-INCUBATOR */
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}

.main-section {
    /* Стили для первой секции */
    background-color: #fafaff;
    padding: 60px 0;
    min-height: 100%;
}

.main-title {
    /* Стили для заголовка в первой секции */
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 20px;
}

.main-text {
    /* Стили для текста в первой секции */
    font-weight: 400;
    font-size: 18px;  
}

.main-image {
    /* Стили для изображения в первой секции */
    max-width: 715px;
}


.about-section {
    /* Стили для второй секции */
    background-color: #fff;
    padding: 100px 0;
}

select {
    /* Стили для выпадающего списка */
    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;
    width: 150px;
    /* height: 36px; */
    font-weight: 400;
    font-size: 16px;
    background: url(./ep_arrow-down.svg) no-repeat right 10px top 50%;
    appearance: none;
    padding: 8px;
}

.section-title {
    /* Стили для заголовков во второй секции */
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 25px;
}

.frameworks-list {
    /* Стили для маркированного списка во второй секции */
    padding: 0 20px;
    list-style-image: url(./solar_map-arrow-up-bold.svg);
    font-weight: 400;
    font-size: 16px;
    width: 80px;
    height: 57px;
    background: #fff;   
}

.books-list {
    /* Стили для нумерованного списка во второй секции */
    padding: 0 20px;
    font-weight: 400;
    font-size: 16px;
}

.label {
    /* Стили для подписей чекбоксов */
    font-weight: 400;
    font-size: 16px;
}

.text-field {
    /* Стили для односточного поля ввода текста */
    border: 1px solid rgba(48, 48, 48, 0.3);
    border-radius: 5px;
    width: 330px;
    padding: 8px;
    font-weight: 400;
    font-size: 16px;
}

.btn {
    /* Стили для кнопки */
    border-radius: 5px;
    width: 125px;
    height: 36px;
    background: #2965f1;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    border: none;
}

.line {
    /* Стили для линии */
    margin: 60px 0;
}

table {
    /* Стили для таблицы */
    border-collapse: collapse;
    width: 300px;
    font-size: 14px;
}

th, td {
    /* Стили для ячеек таблицы */
    padding: 12px 15px;
    text-align: center;
    font-size: 14px;
    color: #303030;
}

footer {
    /* Стили для футера */
    background-color: rgba(163, 167, 255, 0.3);
    padding: 26px 0;

}

.footer-link {
    /* Стили для футера */
    font-weight: 400;
    font-size: 14px;
    color: #2965f1;
    text-decoration: none;
}